defaults:
  - model: simclr
  - backbone: resnet18
  - _self_

dataset: cifar10

training:
  max_epochs: 100
  precision: "16-mixed"
  batch_size: 256
  num_workers: 16

wandb:
  enabled: true
  entity: stable-ssl
  project: stable-datasets-benchmarks

hydra:
  run:
    dir: ${oc.env:PROJECT_ROOT,/mnt/data/sami/stable-datasets}/benchmark-runs/${model.name}_${backbone.name}_${dataset}/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: ${oc.env:PROJECT_ROOT,/mnt/data/sami/stable-datasets}/benchmark-runs/sweep/${now:%Y-%m-%d_%H-%M-%S}
    subdir: ${model.name}_${backbone.name}_${dataset}
